* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
}

.heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: underline;
}

#itema {
    background-image: linear-gradient(blue, #ff5472);
    width: 45%;
}

#itemb {
    width: 40%;
    margin: 3% auto;
}

.container input {
    width: 90%;
    padding: 0.6rem;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.item2 input,
select,
.container div,
#gender1 {
    width: 100%;

}
input,
select {
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
}

.item {
    margin: 0 0 2rem;

}

.itemg {
    margin: 1.3rem 4rem 2rem 0.5rem;
    color: #f34ce6
}

.rs {
    width: 100%;
    padding: 0.7rem 0rem;
    margin: 1rem 0.5rem 0 0px;
    background-color: #f34ce6;
    border: none;
    border: 2px solid purple;
    border-radius: 5px;
    cursor: pointer;
}

.rs:hover {
    background-color: #d127c2;

}
.displayerror{
    color: red;
    font-size: small;
    /* margin-top: -2rem; */
}